# APP_URL: El dominio o URL pública donde está alojada la aplicación.
# Se utiliza para generar códigos QR autovinculados para las mesas.
APP_URL="http://localhost:3000"

# APP_TYPE: El tipo de despliegue ("client" para clientes, "internal" para personal, "both" para desarrollo unificado).
APP_TYPE="both"

# PORT: El puerto en el cual el servidor Express escuchará las peticiones (por defecto: 3000).
PORT=3000
